<app-navbar></app-navbar>
<div class="student-list-container">
  <h2>Student List</h2>

  <div class="student-actions">
    <button routerLink="/students/add">Add Student</button>
  </div>

  <table>
    <thead>
      <tr>
        <th>#</th>
        <th>Full Name</th>
        <th>Father Name</th>
        <th>Contact Number</th>
        <th>Course</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let student of students; let i = index">
        <td>{{ (page - 1) * limit + i + 1 }}</td>
        <td [routerLink]="['/students', student._id]" class="student-name">
          {{ student.fullName }}
        </td>
        <td>{{ student.fatherName }}</td>
        <td>{{ student.contactNumber }}</td>
        <td>{{ student.course }}</td>
        <td class="action-buttons">
          <button
            mat-stroked-button
            [routerLink]="['/students/edit', student._id]"
          >
            Edit
          </button>
          <button mat-stroked-button [routerLink]="['/students', student._id]">
            View
          </button>
          <button
            mat-stroked-button
            class="delete-btn"
            (click)="deleteStudent(student._id)"
          >
            Delete
          </button>
        </td>
      </tr>
    </tbody>
  </table>

  <!-- Pagination Controls -->
  <div class="pagination">
    <button (click)="changePage(page - 1)" [disabled]="page === 1">
      Previous
    </button>
    <span
      >Showing {{ students.length }} of {{ totalStudents }} – Page {{ page }}/{{
        totalPages
      }}</span
    >
    <button (click)="changePage(page + 1)" [disabled]="page >= totalPages">
      Next
    </button>
  </div>

  <p *ngIf="students.length === 0" class="no-students">No students found.</p>
</div>
