<app-navbar></app-navbar>

<!-- Student List -->
<div class="container">
  <div class="flex-between">
    <h2>Student List</h2>

    <button mat-stroked-button color="primary" routerLink="/students/add">
      Add Student
    </button>
  </div>

  <div *ngIf="students.length > 0; else noStudents">
    <div class="right">
      <input
        matInput
        class="search"
        placeholder="Search Students"
        (keyup)="applyFilter($event)"
      />
    </div>

    <table mat-table [dataSource]="dataSource" matSort>
      <!-- Index Column -->
      <ng-container matColumnDef="index">
        <mat-header-cell *matHeaderCellDef>#</mat-header-cell>
        <mat-cell *matCellDef="let student; let i = index">
          {{ pageIndex * pageSize + i + 1 }}
        </mat-cell>
      </ng-container>

      <!-- Full Name Column -->
      <ng-container matColumnDef="fullName">
        <mat-header-cell mat-sort-header *matHeaderCellDef
          >Full Name</mat-header-cell
        >
        <mat-cell
          *matCellDef="let student"
          class="link"
          [routerLink]="['/students', student._id]"
          >{{ student.fullName }}</mat-cell
        >
      </ng-container>

      <!-- Father's Name Column -->
      <ng-container matColumnDef="fatherName">
        <mat-header-cell mat-sort-header *matHeaderCellDef
          >Father's Name</mat-header-cell
        >
        <mat-cell *matCellDef="let student">{{ student.fatherName }}</mat-cell>
      </ng-container>

      <!-- Contact Number Column -->
      <ng-container matColumnDef="contactNumber">
        <mat-header-cell mat-sort-header *matHeaderCellDef
          >Contact</mat-header-cell
        >
        <mat-cell *matCellDef="let student">{{
          student.contactNumber
        }}</mat-cell>
      </ng-container>

      <!-- Course Column -->
      <ng-container matColumnDef="course">
        <mat-header-cell mat-sort-header *matHeaderCellDef
          >Course</mat-header-cell
        >
        <mat-cell *matCellDef="let student">{{ student.course }}</mat-cell>
      </ng-container>

      <!-- Actions Column -->
      <ng-container matColumnDef="actions">
        <mat-header-cell *matHeaderCellDef>Actions</mat-header-cell>
        <mat-cell *matCellDef="let student">
          <button
            mat-icon-button
            color="accent"
            [routerLink]="['/students', student._id]"
            matTooltip="View Details"
          >
            <mat-icon>visibility</mat-icon>
          </button>
          <button
            mat-icon-button
            [routerLink]="['/students/edit', student._id]"
            matTooltip="Edit"
          >
            <mat-icon>edit</mat-icon>
          </button>
          <button
            mat-icon-button
            color="warn"
            (click)="deleteStudent(student._id)"
            matTooltip="Delete"
          >
            <mat-icon>delete</mat-icon>
          </button>
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
    </table>

    <!-- Pagination -->
    <mat-paginator
      [length]="totalStudents"
      [pageSize]="limit"
      [pageSizeOptions]="[5, 10, 20]"
      (page)="onPageChange($event)"
    >
    </mat-paginator>
  </div>

  <ng-template #noStudents>
    <p class="center">No students found.</p>
  </ng-template>
</div>
