<app-navbar></app-navbar>

<div class="form-container">
  <h2>{{ studentId ? "Edit Student" : "Add New Student" }}</h2>

  <form [formGroup]="studentForm" (ngSubmit)="onSubmit()" class="form">
    <!-- Full Name -->
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Full Name</mat-label>
      <input
        matInput
        placeholder="Enter full name"
        formControlName="fullName"
      />
      <mat-error *ngIf="studentForm.get('fullName')?.hasError('required')">
        Full Name is required.
      </mat-error>
      <mat-error *ngIf="studentForm.get('fullName')?.hasError('minlength')">
        Full Name must be at least 3 characters long.
      </mat-error>
    </mat-form-field>

    <!-- Father Name -->
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Father Name</mat-label>
      <input
        matInput
        placeholder="Enter father name"
        formControlName="fatherName"
      />
      <mat-error *ngIf="studentForm.get('fatherName')?.hasError('required')">
        Father Name is required.
      </mat-error>
      <mat-error *ngIf="studentForm.get('fatherName')?.hasError('minlength')">
        Father Name must be at least 3 characters long.
      </mat-error>
    </mat-form-field>

    <!-- Contact Number -->
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Contact Number</mat-label>
      <input
        matInput
        type="tel"
        placeholder="Enter contact number"
        formControlName="contactNumber"
      />
      <mat-error *ngIf="studentForm.get('contactNumber')?.hasError('required')">
        Contact Number is required.
      </mat-error>
      <mat-error *ngIf="studentForm.get('contactNumber')?.hasError('pattern')">
        Please enter a valid number.
      </mat-error>
    </mat-form-field>

    <!-- Course Selection -->
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Course</mat-label>
      <mat-select formControlName="course">
        <mat-option *ngFor="let course of courses" [value]="course">
          {{ course }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <!-- Submit and Cancel Buttons -->
    <div class="gap">
      <button mat-stroked-button [routerLink]="['/students']">
        {{ studentId ? "Cancel" : "Back to list" }}
      </button>
      <button mat-raised-button color="primary" type="submit">
        {{ studentId ? "Update Student" : "Add Student" }}
      </button>
    </div>
  </form>
</div>
