<div class="login-container">
  <h2>Login</h2>

  <form [formGroup]="loginForm" (submit)="onlogin()" class="login-form">
    <!-- Email Field -->
    <div class="form-group">
      <label for="email">Email:</label>
      <input
        type="email"
        id="email"
        placeholder="Enter your email"
        formControlName="email"
      />
      <small
        class="error"
        *ngIf="
          loginForm.get('email')?.hasError('required') &&
          loginForm.get('email')?.touched
        "
      >
        Email is required.
      </small>
      <small
        class="error"
        *ngIf="
          loginForm.get('email')?.hasError('email') &&
          loginForm.get('email')?.touched
        "
      >
        Enter a valid email address.
      </small>
    </div>

    <!-- Password Field -->
    <div class="form-group">
      <label for="password">Password:</label>
      <input
        type="password"
        id="password"
        placeholder="Enter your password"
        formControlName="password"
      />
      <small
        class="error"
        *ngIf="
          loginForm.get('password')?.hasError('required') &&
          loginForm.get('password')?.touched
        "
      >
        Password is required.
      </small>
      <small
        class="error"
        *ngIf="
          loginForm.get('password')?.hasError('minlength') &&
          loginForm.get('password')?.touched
        "
      >
        Password must be at least 6 characters long.
      </small>
    </div>

    <!-- Login Button -->
    <button type="submit" class="login-btn">Login</button>
  </form>
</div>
