<mat-toolbar class="flex-between nav-container" color="primary">
  <!-- Logo -->
  <div class="gap-sm" routerLink="/students" style="cursor: pointer">
    <span
      ><img class="logo-image" src="../../../assets/student.svg" alt=""
    /></span>
    <span class="logo"> {{ currentUser }}</span>
  </div>

  <div>
    <button
      mat-stroked-button
      class="bg-white"
      color="primary"
      *ngIf="!isLoggedIn && isSignupPage"
      routerLink="/login"
    >
      Login
    </button>
    <button
      mat-stroked-button
      class="bg-white"
      color="primary"
      *ngIf="!isLoggedIn && isLoginPage"
      routerLink="/signup"
    >
      Signup
    </button>
    <button
      mat-stroked-button
      color="warn"
      class="bg-white"
      *ngIf="isLoggedIn"
      (click)="logout()"
    >
      Logout
    </button>
  </div>
</mat-toolbar>
