.logo {
  cursor: pointer;
  font-family: cursive;
  font-style: italic;
  font-weight: 600;
  text-transform: uppercase;
  text-decoration: underline;
}

.logo-image {
  width: 40px;
}

.nav-container {
  max-width: 1300px;
  margin: auto;
  padding: 0px 20px;
  border-radius: 10px;
}

.bg-white {
  background-color: white;
}
