<app-navbar></app-navbar>

<div class="student-details-container">
  <mat-card class="student-card">
    <mat-card-title class="title">Student Details</mat-card-title>
    <mat-card-content>
      <p><strong>Full Name:</strong> {{ student.fullName }}</p>
      <p><strong>Father Name:</strong> {{ student.fatherName }}</p>
      <p><strong>Contact Number:</strong> {{ student.contactNumber }}</p>
      <p><strong>Course:</strong> {{ student.course }}</p>
    </mat-card-content>
    <mat-card-actions>
      <button
        class="back"
        mat-stroked-button
        color="primary"
        (click)="backToList()"
      >
        Back
      </button>
    </mat-card-actions>
  </mat-card>
</div>
