<app-navbar></app-navbar>
<div class="form-container">
  <h2>Signup</h2>

  <form [formGroup]="signupForm" (submit)="onSignup()" class="form">
    <!-- Full Name Field -->
    <mat-form-field class="form-group" appearance="outline">
      <mat-label for="fullName">Full Name:</mat-label>
      <input
        matInput
        type="text"
        id="fullName"
        formControlName="fullName"
        name="fullName"
        placeholder="Enter your full name"
      />
      <mat-error
        class="error"
        *ngIf="
          signupForm.get('fullName')?.hasError('required') &&
          signupForm.get('fullName')?.touched
        "
      >
        Full Name is required.
      </mat-error>
      <mat-error
        class="error"
        *ngIf="
          signupForm.get('fullName')?.hasError('minlength') &&
          signupForm.get('fullName')?.touched
        "
      >
        Full Name must be at least 3 characters long.
      </mat-error>
    </mat-form-field>

    <!-- Email Field -->
    <mat-form-field class="form-group" appearance="outline">
      <mat-label for="email">Email:</mat-label>
      <input
        matInput
        type="email"
        id="email"
        formControlName="email"
        name="email"
        placeholder="Enter your email"
      />
      <mat-error
        class="error"
        *ngIf="
          signupForm.get('email')?.hasError('required') &&
          signupForm.get('email')?.touched
        "
      >
        Email is required.
      </mat-error>
      <mat-error
        class="error"
        *ngIf="
          signupForm.get('email')?.hasError('email') &&
          signupForm.get('email')?.touched
        "
      >
        Enter a valid email address.
      </mat-error>
      <mat-error
        *ngIf="signupForm.get('email')?.hasError('emailExists')"
        class="error"
      >
        This email is already in use. Try another one.
      </mat-error>
    </mat-form-field>

    <!-- Password Field -->
    <mat-form-field class="form-group" appearance="outline">
      <mat-label for="password">Password:</mat-label>
      <input
        matInput
        type="password"
        id="password"
        formControlName="password"
        name="password"
        placeholder="Enter your password"
        minlength="6"
      />
      <mat-error
        class="error"
        *ngIf="
          signupForm.get('password')?.hasError('required') &&
          signupForm.get('password')?.touched
        "
      >
        Password is required.
      </mat-error>
      <mat-error
        class="error"
        *ngIf="
          signupForm.get('password')?.hasError('minlength') &&
          signupForm.get('password')?.touched
        "
      >
        Password must be at least 6 characters long.
      </mat-error>
    </mat-form-field>

    <!-- Signup Button -->
    <button class="btn" type="submit" mat-flat-button color="primary">
      Signup
    </button>
  </form>
</div>
