.error {
  color: red;
  font-size: 14px;
  display: block;
  margin-top: 5px;
}

.flex-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.gap {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.gap-sm {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.center {
  text-align: center;
}

.form-container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}

h2 {
  font-size: 2rem;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.container {
  max-width: 1250px;
  margin: auto !important;
  padding: 20px;
}

button {
  font-size: 1rem !important;
}

.link {
  cursor: pointer;
  &:hover {
    text-decoration: underline;
  }
}
