<div>
  <h2>Add New Student</h2>
  <form (submit)="onSubmit()">
    <div>
      <label for="fullName">Full Name</label>
      <input
        type="text"
        name="fullName"
        id="fullName"
        placeholder="Full Name"
        [(ngModel)]="student.fullName"
      />
    </div>
    <div>
      <label for="fatherName">Father Name</label>
      <input
        type="text"
        name="fatherName"
        id="fatherName"
        placeholder="Father Name"
        [(ngModel)]="student.fatherName"
      />
    </div>
    <div>
      <label for="contactNumber">Contact Number</label>
      <input
        type="number"
        name="contactNumber"
        id="contactNumber"
        placeholder="Contact Number"
        [(ngModel)]="student.contactNumber"
      />
    </div>
    <div>
      <label for="course">Course</label>
      <select name="course" id="course" [(ngModel)]="student.course">
        <option *ngFor="let course of courses" [value]="course">
          {{ course }}
        </option>
      </select>
    </div>
    <button type="submit">Add Student</button>
  </form>
</div>
